@model WebApplication5.Models.Doctor
@{
    ViewData["Title"] = "Edit doctor";
}
<h2>@ViewData["Title"]</h2>

<form method="post" asp-route-id="@Model.Id">

    <label>Name</label> <br />
    <input type="text" name="Name" value="@Model.Name"/> <br />

    <label>Speciality</label> <br />
    <input type="text" name="Address" value="@Model.Speciality"/> <br />

    <input type="submit" value="Save changes"/>
</form>
